<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Unified STEM Competitions</h2>
								<p>STEM for students with and without Intellectual and Developmental Delays (IDD)</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-gear"></i>
										<header>
											<h2><a href= "{{ site.baseurl }}/unifiedrobotics.html"> Unified Robotics </a> </h2>
										</header>
										<p>A 7-week Special Olympics program designed to bring together students with and without IDD to learn robotics.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-code"></i>
										<header>
											<h2><a href= "{{ site.baseurl }}/unifiedhackathon.html"> Unified Hackathon</a> </h2>
										</header>
										<p>A one-day competition for students with and without IDD to learn coding skills.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-users"> </i>
										<header>
											<h2><a href= "{{ site.baseurl }}/about.html"> About Unified STEM </a> </h2>
										</header>
										<p>Learn about the history of the Unified STEM.</p>
									</section>
								</div>
							</div>
							<footer>
							</footer>
						</section>

				</div>
			</div>
